<div>
  <h3>Temat: Korelacja między użytkowaniem Internetu a rozwojem e-commerce w krajach europejskich</h3>

  <h5>Technologie:</h5>
  <ul>
    <li>Angular</li>
    <li>ASP.NET Core</li>
    <li>Entity Framework Core</li>
    <li>SQL Server</li>
    <li>Bootstrap</li>
    <li>Chart.js</li>
    <li>Angular</li>
    <li>TypeScript</li>
    <li>Docker</li>
    <li>JSON</li>
    <li>SOAP (gloryfikowany XML)</li>
    <li>XML</li>
  </ul>

  <h6>Autorzy:</h6>
  <ul>
    <li>Tomasz Gęszka</li>
    <li>Cezary Gozdalski</li>
  </ul>
</div>
