<div class="select-container mb-3">
  <h1 class="text-white">Data criteria explanation</h1>
  <div style="display: flex;">
    <div class="dataExplanation text-white p-3">
      <h4>ECommerce</h4>
      <ul>
        <li>I_ECOM - E-commerce activities</li>
        <li>I_BLT12 - Last online purchase: in the 12 months</li>
        <li>I_IUSELL - Selling goods or services</li>
      </ul>
    </div>
    <div class="dataExplanation text-white p-3">
      <h4>InternetUse:</h4>
      <ul>
        <li>I_IU3 - Last internet use: in last 3 months</li>
        <li>I_ILT12 - Last internet use: in the last 12 months</li>
        <li>I_IUEVR - Individuals who have ever used the internet</li>
        <li>I_IUX - Internet use: never</li>
      </ul>
    </div>
  </div>
</div>

<div class="select-container">
  <h1 class="text-white">Select Filters:</h1>
  <div class="dataSelect">
    <div class="selectWrap">
      <p class="select-label"> Select Year:</p>
      <select [(ngModel)]="selectedYears" multiple>
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
    </div>
    <div class="selectWrap">
      <p class="select-label"> Select Country:</p>
      <select [(ngModel)]="selectedCountries" multiple>
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
    </div>
    <div class="selectWrap">
      <p class="select-label"> Select ECommerce criteria:</p>
      <select [(ngModel)]="selectedIC_EC" multiple>
        <option *ngFor="let criterion of IC_ECommerce" [value]="criterion">{{criterion}}</option>
      </select>
    </div>
    <div class="selectWrap">
      <p class="select-label"> Select InternetUse criteria:</p>
      <select [(ngModel)]="selectedIC_IU" multiple style="min-height: 20%">
        <option *ngFor="let criterion of IC_InternetUse" [value]="criterion">{{criterion}}</option>
      </select>
    </div>
  </div>
  <button (click)="createChart()">Create graph</button>
</div>


<div [hidden]="isHidden" class="chart-container">
  <p class="chart-label">Chart</p>
  <button class="delete-button" (click)="deleteChart()">X</button>
  <canvas id="MyChart">{{ chart }}</canvas>
</div>
